.@{class-prefix}-employee-content-panel {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    .more-icon-section{
        color: #000;
        position: absolute;
        right: -30px;
    }
    .w-85{
        width: 85px;
    }
    .lh-26{
        line-height: 26px;
    }

    .@{class-prefix}-employee-card:hover {
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
    }

    .@{class-prefix}-employee-card {
        .ant-card-body {
            padding:0px !important;
        }
        .app-version{
            width: 100px;
        }
        
        width: 350px;
        min-width: 350px;
        margin-right: 10px;
        margin-left: 10px;
        height: 350px;
        min-height: 350px;
        overflow: hidden;
        .@{class-prefix}-employee-card-avatar {
            width: 100px !important;
            height: 100px !important;
            justify-content: center;
            
            .@{class-prefix}-employee-avatar {
                width: 100px;
                height: 100px;
            }
            span {
                color: white;
                font-size: 45px;
                font-weight: 700;
            }
        }
        .@{class-prefix}-employee-card-name {
            font-size: 16px;
            font-weight: 700;
        }
        .right-icon-section{
            position: relative;
            cursor: pointer;
        }
        .@{class-prefix}-employee-card-bottom-button{
            width: 250px;
            height: 100%;
            padding-right: 20px;
            justify-content: center;
            align-items: center;
            display: flex;
        }
    }
}

.@{class-prefix}-employee-search-bar {
    background-color: #e8e8e8 !important;
}
.gx-editContent {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: -15px !important;
    margin-right: -15px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-left: 35px !important;
    padding-right: 35px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    .icon-content{
        padding-right: 10px;
      }
}

.gx-editContent:hover {
    background-color: #e7faff;
    color:#257cde;
    .material-icons {
        color:#257cde !important;
    }
}

.@{class-prefix}-dispatch-employees-btn-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

@media screen and(max-width: @screen-sm-max) {
    .@{class-prefix}-a-md-block {
        display: flex !important;
    }
}

// ~1523

@media screen and(max-width: 1520px) {
    .@{class-prefix}-a-align-center-ss {
        justify-content: center !important;
    }
    .@{class-prefix}-a-align-around-ss {
        justify-content: space-around !important;
    }
}

@media screen and (max-width: 991px) {
    div.gx-dispatch-employees-toolbar-ss {
        div.gx-dispatch-top-toolbar {
            flex-flow: row;
        }
    }
}

@media screen and (min-width: @screen-sm-max) {
    div.gx-d-md-flex {
        display: flex;
    }
}
@media screen and (max-width: @screen-sm-max) {
    div.@{class-prefix}-a-md-flex-column {
        flex-flow: column !important;
        justify-content: center;
        align-items: center;
        div.@{class-prefix}-dispatch-employees-mobile-toolbar-btngroup {
            justify-content: space-around;
        }
        div.gx-search-bar.gx-lt-icon-search-bar-lg.gx-dispatch-search.gx-employee-search-bar {
            width: 100%;
        }
        div.@{class-prefix}-dispatch-employees-mobile-toolbar-search {
            input {
                width: 320px;
            }
        }
    }
}

///////////////////////// ss /////////////////////
@media screen and(max-width: @screen-lg-max) {
    .@{class-prefix}-panel-content.@{class-prefix}-ss-dispatch-employees-a-pb-60 {
        padding-bottom: 60px;
    }
}

@media screen and(max-width: @screen-xs-max) {
    .@{class-prefix}-ss-dispatch-new-employee-modal {
        top: 20px !important;
    }
}